/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

header, main{
    margin: 1rem;
}

.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 1rem;
    margin-bottom: 1rem;
}

.card{
    border: 1px solid black;
    padding: 1rem;
}

#dialog-box {
    border: 1px solid black;
    border-radius: 1rem;
    margin: auto;
    background: #FFF;
    padding: 2rem;
}

input{
    display: block;
    margin-bottom: 0.5rem;
}

.check-box input{
    display: inline;
}