/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background: #F1F1F1;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

header,
.book-container {
    padding: 1rem 2rem;
}

header {
    background: #1C4E80;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header .logo svg {
    fill: #FFF;
}

header #new-book {
    border: none;
    border-radius: 1rem;
    background: #FFF;
    color: #1C4E80;
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem 2rem;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 1rem;
}

.card {
    background: #FFF;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card .read{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .cover-image {
    align-self: center;
    padding: 0.5rem 0;
    height: 300px;
}

.card .delete-book{
    border: none;
    border-radius: 4px;
    background: #e61313;
    color: #FFF;
    align-self: flex-end;
    font-size: 0.85rem;
    width: min-content;
}

.card .delete-book:hover {
    opacity: 0.8;
}

#dialog-box {
    border: 1px solid black;
    border-radius: 1rem;
    margin: auto;
    background: #FFF;
    padding: 1.5rem;
    width: 350px;
}

#dialog-box .required{
    color: #da1414;
}

#dialog-box form {
    width: 100%;
}

#dialog-box input {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
}

#dialog-box input[type="file"] {
    margin: 0.5rem 0;
}

#dialog-box .check-box {
    padding-bottom: 0.5rem;
}

#dialog-box .check-box input {
    width: auto;
    display: inline;
}

#dialog-box h2 {
    text-align: center;
}

#dialog-box #add-book {
    background: #1C4E80;
    border: none;
    border-radius: 0.5rem;
    color: #FFF;
    cursor: pointer;
    font-weight: 500;
    padding: 0.75rem 0;
    width: 100%;
}